/* Styles for the Embed vimeo Video Mod */

.vimeo-wrapper
{
	height: 0;
	padding-top: 0px;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}

.vimeo-wrapper div, .vimeo-wrapper iframe
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
